body{
    background-image: linear-gradient(145deg, #1b788f 0%, #2D93AD 30%, #60c4dd 100%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 85vw;
    max-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin: 1em 1em 1em 5em;
}

#website-title{
    color: antiquewhite;
    width: 22%;
}

#searchbar{
    height: 2.5em;
    width: 78%;
    margin-left: 3em;
    border-radius: 1em;
    outline: transparent;
}
 
#notetitle:hover, #notetitle:focus, #notetitle:active,
#notedesc:focus, #notedesc:active, #notedesc:hover{
    border: 0.2em solid #b35000;
}

#searchbar:focus, #searchbar:active, #searchbar:hover{
    border: 0.2em solid #ee8937;
}

.screen{
    width: 95vw;
    height: 80vh;
    max-height: 75.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 1em 1em 1em;
}

.inputField{
    width: 22%;
    height: 105%;
    border-radius: 1.5em;
    border: none;
    background-color:antiquewhite;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#newnote{
    margin-top: 2em;
}

#inputnotetitle{
    margin-bottom: 0;
}

#inputnotedesc{
    margin-bottom: 0;
}

input, textarea{
    border-radius: 0.5em;
    border-color: #d47500;
    border-style: solid;
    width: 15em;
    background:none;
    color: #0C090D;
}

input::placeholder{
    color: #d8c9b7;
}

#searchbar{
    color: antiquewhite;
}

#notetitle{
    height: 2em;
    outline: transparent;
}

#notedesc{
    min-height: 20em;
    max-height: 20em;
    min-width: 15em;
    max-width: 15em;
    margin-top: 0.3em;
    resize: none;
    outline: transparent;
}

#savebttn{
    background-color: #d47500;
    color: antiquewhite;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

#savebttn:hover{
    background-color: #b35000;
    transform: translateY(-0.1em);
    transition-duration: 0.3s;
}

p{
    font-weight:600;
    color: #0C090D;
}

button{
    border: transparent;
    height: 2.5em;
    width: 6em;
    background-color: antiquewhite;
    font-weight:600;
    color: #7a4c27;
}

.noteview{
    background-color: antiquewhite;
    box-sizing: border-box;
    border-radius: 1.5em;
    width: 90%;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    padding: 20px;
}

.notegallery{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 98%;
    height: 98%;
    gap: 1em 1em;
    margin: 1em 1em 1em 1em;
}

.note{
    min-width: 5vw;
    max-width: 20vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #e28131;
    border-radius: 0.3em;
}

#title{
    margin: 0.3em 0.3em 0.3em 0.3em;
    max-height: fit-content;
    font-size: 1em;
    font-weight: 600;
    color: black;
    border-bottom: 0.1em solid #e28131;
    margin-top: 0em;
    word-break: break-all;
    text-align: center;
}

#desc{
    margin: 0.3em 0.3em 0.3em 0.3em;
    height: fit-content;
    font-size: 0.7em;
    font-weight: 200;
    color: black;
    word-break: break-all;
    text-align: left;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0.2vh;
    margin: 3em 0 2em 0;
}

footer p{
    font-size: 1em;
    font-weight: 200;
    color: antiquewhite;
}