body{
    background-image: linear-gradient(180deg, #05299E 0%, #3252bb 20%, #5f7ee2 100%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    width: 85vw;
    max-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin: 1em 1em 1em 6.5em;
}

#website-title{
    color: antiquewhite;
    width: 22%;
}

#tasksCount{
    color: #7f9af5;
    font-weight: 600;
}

#task:hover, #task:focus, #task:active{
    border: 0.15em solid #3567d3;
}

.screen{
    width: 95vw;
    height: 80vh;
    max-height: 75.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 1em 1em 1em;
}

form{
    width: 22%;
    height: 35%;
    border-radius: 1.5em;
    border: none;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#newtask{
    margin-top: 2em;
}

#inputtasktitle{
    margin-bottom: 0;
    font-weight: 200;
}

input[type="text"]{
    border-radius: 0.3em;
    border-color: #05299E;
    border-style: solid;
    width: 80%;
}

#task{
    height: 2em;
    outline: transparent;
}

#savebttn{
    background-color: #05299E;
    color: antiquewhite;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
}

#savebttn:hover{
    background-color: #274bc4;
    transform: translateY(-0.1em);
    transition-duration: 0.5s;
}

.todofield{
    width: 75%;
    height: 105%;
    border-radius: 1.5em;
    border: none;
    background-color:antiquewhite;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
}

p{
    font-weight:600;
    color: #05299E;
}

button{
    border: transparent;
    height: 2.5em;
    width: 6em;
    background-color: antiquewhite;
    font-weight:600;
    color: #1544e0;
}

#filter:hover, 
#filter:active, 
#filter:focus{
    border: 0.2em solid #1544e0;
    border-radius: 0.5em;
}

.taskgallery{
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.1em solid #1544e0;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    padding: 20px;
}

.taskview{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 98%;
    height: 98%;
    gap: 1em 1em;
    margin: 1em 1em 1em 1em;
}

#task1{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 5%;
    align-content: center;
}

#task1>label:hover{
    box-shadow: 0.1em 0.1em 0.3em #4e71e4;
}

#task1 > label{
    margin: 0px 10px;
    border-radius: 20px;
    width: 100%;
    align-content: center;
    padding-left: 10px;
    font-size: 1.8vh;
    color: antiquewhite;
    background-color: #5a7df0;
}

#check{
    padding:0 !important;
    margin:0 !important;
    border: none;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0.2vh;
    margin: 3em 0 2em 0;
}

footer p{
    font-size: 1em;
    font-weight: 200;
    color: antiquewhite;
}